*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
}

#dologin{
    margin: 10vh 22vw;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input{
    font-size: medium;
}

#forgot{
    text-align: left;
}